.App {
  text-align: center;
  margin: 2%;
}

.button {
  cursor: pointer;
  color: rgb(3, 32, 15);
  background-color: rgb(248, 242, 242);
  border-color: rgb(113, 128, 46);
  width: 200px;
  font-family: 'Roboto', sans-serif;
  margin-top: 1%;
}

.completedTodos {
  text-decoration: line-through;
  color: brown;
}

h1 {
  color: purple;
}

h1:hover {
  color: rgb(141, 11, 11);
}